<!-- <p>sign-in works!</p> -->
 <div class="container backColor" style="height: 950px; width: 465px;">
    <header>
        <!-- <div class="btn-group">
        <button type="button" class="btn1 btn-outline-primary" style="background-color: transparent; color: white;"> Sign up </button>  
       <button type="button" class="btn1 btn-outline-primary" style="background-color: transparent;color: white;"> Tour </button>
       </div> -->
       <div class="btn-group btn-group-lg pull-right" role="group">
        <button type="submit" class=" flex--item btn btn-default2 btn-default" style="align-items: center;" >Sign up</button>
        <button type="submit" class=" flex--item btn btn-default2 btn-default" style="align-items: center;" >Tour</button>
        <!-- <button type="button" class="btn1 btn-outline-primary" style="background-color: transparent; color: white;"> Sign up </button>   -->
        <!-- <button type="button" class="btn1 btn-outline-primary" style="background-color: transparent;color: white;"> Tour </button> -->
      </div>
    
    </header> 
    <br>
    <br>
    <br>
    <br>
    <div>
        <form class="form-horizontal">
          <h2 style="color: white; text-align: center;">Welcome!</h2>
              <h4 style="font-weight: lighter; color: white; text-align: center;">Sign in to your account</h4>
              <br>
              <br>
          <div class="form-group">

            <div style="align-items: center;justify-content: space-between; width: 110px; display: flex;">
              <label for="inputEmail3" class="col-sm-2 control-label whiteText">Username </label>
              
              <!-- <span class="whiteText" style="padding:5px; inline-size: auto;" >-->
                <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" style="margin-top: 5px;" class="bi bi-info-circle whiteText" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>
            <!-- </span> --> 
            </div>
              <br>
            <div class="col-sm-10 whiteText" style="display: flex;align-items: center;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="34" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
              <input type="username" class="form-control" id="inputUserName3" placeholder="ak_9876543210" style="background-color:#3B44A9;color: white;">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label whiteText">Password</label>
            <br>
            <br>
            
             <div class="col-sm-10 whiteText" style="display: flex; align-items: center;">
               <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="34px" fill="currentColor" class="bi bi-file-lock" viewBox="0 0 16 16">
                <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224zM6.105 8.125A.637.637 0 0 1 6.5 8h3a.64.64 0 0 1 .395.125c.085.068.105.133.105.175v2.4c0 .042-.02.107-.105.175A.637.637 0 0 1 9.5 11h-3a.637.637 0 0 1-.395-.125C6.02 10.807 6 10.742 6 10.7V8.3c0-.042.02-.107.105-.175z"/>
                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
              </svg> 
              
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" style="background-color: #3B44A9; color: white;">
      
            </div> 


          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <!-- <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div> -->
              <div class="pull-right">
                <a href="#" style="color: white;">Forgot Password?</a>
              </div>        
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <!-- <button type="submit" class="btn btn-default pinkish">Login</button> -->
              <button type="submit" class="btn btn-default1 btn-default" style="align-items: center;" >Login</button>
      
            </div>
          </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <footer>
          <div style="display: inline-block; vertical-align: top; align-items: center; justify-content: center;" >
            <img src="assets/images/icons8-facebook.svg" alt="facebook" style="width: 45px; height: 40px;">
            <img src="assets/images/icons8-instagram-logo.svg" alt="facebook" style="width: 45px; height: 40px;">
            <img src="assets/images/icons8-linkedin.svg" alt="facebook" style="width: 45px; height: 40px;">

          </div>      
        </footer>
      </div>
 </div>

  
  
  
