<div class="container">

    <header>
        <h1><span style="color:#F96180 ;">HoT</span> <span style="color: #4A55C1;">DESK</span>   </h1>
    </header>

    <div class="row">
        <div class="col-l-12" style="display: flex;justify-content: center;">
            <img src="assets/images/backgroung.jpeg" alt="desk" style="width:500px;height:500px;">
        </div>
    </div>
    <div style="text-align: center;">
        <h2 style="color: #4A55C1;">Desk to perform more on your work</h2>
    <h4 style="color: black;">Get ready for your presence to make sense </h4>

    </div>
</div>

